<a href="https://colab.research.google.com/github/Phurin216/Datawarehouse/blob/main/Warehouse_2_Practice2%20NPL%20RE_%E0%B8%99%E0%B8%B2%E0%B8%A2_%E0%B8%A0%E0%B8%B9%E0%B8%A3%E0%B8%B4%E0%B8%99%E0%B8%97%E0%B9%8C_%E0%B8%AA%E0%B8%B2%E0%B8%A2%E0%B9%80%E0%B8%8A%E0%B8%B7%E0%B9%89%E0%B8%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practice2 NPL RE

#653020216-6 นาย ภูรินท์ สายเชื้อ

1) ให้ลบเครื่องหมายวรรคตอนออกจากเพลงต่อไปนี้ให้หมด (punctuation) เช่น , หรือ !

In [3]:
song = "Fly me to the moon\nLet me play among the stars\
        \nLet me see what spring is like on\
        \nA-Jupiter and Mars\nIn other words, hold my hand\
        \nIn other words, baby, kiss me\
        \nFill my heart with song and let me sing forevermore\
        \nYou are all I long for\
        \nAll I worship and adore\
        \nIn other words, please be true\
        \nIn other words, I love You\
        \nFill my heart with song\
        \nLet me sing forevermore\
        \nYou are all I long for, all I worship and adore\
        \nIn other words, please be true\
        \nIn other words\
        \nIn other words\
        \nI LOVE YOU!"
print(song)

Fly me to the moon
Let me play among the stars
Let me see what spring is like on
A-Jupiter and Mars
In other words, hold my hand
In other words, baby, kiss me
Fill my heart with song and let me sing forevermore
You are all I long for
All I worship and adore
In other words, please be true
In other words, I love You
Fill my heart with song
Let me sing forevermore
You are all I long for, all I worship and adore
In other words, please be true
In other words
In other words
I LOVE YOU!

In [4]:
# prompt: ให้ลบเครื่องหมายวรรคตอนออกจากเพลงต่อไปนี้ให้หมด (punctuation) เช่น , หรือ !

import re

song = "Fly me to the moon\nLet me play among the stars\
        \nLet me see what spring is like on\
        \nA-Jupiter and Mars\nIn other words, hold my hand\
        \nIn other words, baby, kiss me\
        \nFill my heart with song and let me sing forevermore\
        \nYou are all I long for\
        \nAll I worship and adore\
        \nIn other words, please be true\
        \nIn other words, I love You\
        \nFill my heart with song\
        \nLet me sing forevermore\
        \nYou are all I long for, all I worship and adore\
        \nIn other words, please be true\
        \nIn other words\
        \nIn other words\
        \nI LOVE YOU!"

# ลบเครื่องหมายวรรคตอนออกจากเพลง
song_no_punctuation = re.sub(r'[^\w\s]', '', song)

print(song_no_punctuation)

Fly me to the moon
Let me play among the stars
Let me see what spring is like on
AJupiter and Mars
In other words hold my hand
In other words baby kiss me
Fill my heart with song and let me sing forevermore
You are all I long for
All I worship and adore
In other words please be true
In other words I love You
Fill my heart with song
Let me sing forevermore
You are all I long for all I worship and adore
In other words please be true
In other words
In other words
I LOVE YOU

2) นับคำว่ารัก (love) ทั้งหมดในเพลงดังกล่าว รวมคำที่เขียนด้วยตัวอักษรทั้งพิมพ์ใหญ่และพิมพ์เล็ก

In [5]:
# prompt:  นับคำว่ารัก (love) ทั้งหมดในเพลงดังกล่าว รวมคำที่เขียนด้วยตัวอักษรทั้งพิมพ์ใหญ่และพิมพ์เล็ก

# นับคำว่ารัก (love) ทั้งหมดในเพลงดังกล่าว รวมคำที่เขียนด้วยตัวอักษรทั้งพิมพ์ใหญ่และพิมพ์เล็ก
import re

count = len(re.findall(r'love', song_no_punctuation, re.IGNORECASE))
print(f"จำนวนคำว่า 'love' ในเพลง: {count}")

จำนวนคำว่า 'love' ในเพลง: 2

3) จากข้อมูลต่อไปนี้ สร้างคอลัมน์ใหม่ ได้แก่ Firstname, Lastname, Weekday และ Country

Firstname แยกชื่อจาก Fullname
Lastname แยกนามสกุลจาก Fullname
Weekday วันเกิดคือวันอะไร (Monday - Sunday)
Country แยกประเทศจาก Address

In [9]:
import pandas as pd
df = pd.DataFrame({"Fullname": ["Pitch Wiratch", "Sam Sonite", "Mickey Mouse", "Felonius Gru"],
                   "Birthdate": ["15/05/2015", "10/03/1910", "18/11/1928", "28/09/1960"],
                   "Address": ["555 KKU Village, Khon Kaen, Thailand, 40000",
                               "13-15 avenue de la Liberté, Luxembourg, 1931",
                               "1375 Lake Buena Vista, FL, USA, 32830",
                               "1234 Albuquerque, New Mexico, USA, 87777"]})
df

        Fullname   Birthdate                                       Address
0  Pitch Wiratch  15/05/2015   555 KKU Village, Khon Kaen, Thailand, 40000
1     Sam Sonite  10/03/1910  13-15 avenue de la Liberté, Luxembourg, 1931
2   Mickey Mouse  18/11/1928         1375 Lake Buena Vista, FL, USA, 32830
3   Felonius Gru  28/09/1960      1234 Albuquerque, New Mexico, USA, 87777

In [39]:
# prompt: จากข้อมูลต่อไปนี้ สร้างคอลัมน์ใหม่ ได้แก่ Firstname, Lastname, Weekday และ Country
# * Firstname แยกชื่อจาก Fullname
# * Lastname แยกนามสกุลจาก Fullname
# * Weekday วันเกิดคือวันอะไร (Monday - Sunday)
# * Country แยกประเทศจาก Address

import pandas as pd
from datetime import datetime

# แยกชื่อและนามสกุล
df[['Firstname', 'Lastname']] = df['Fullname'].str.split(' ', n=1, expand=True)

# แปลงวันที่เป็นวันในสัปดาห์
df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%d/%m/%Y')
df['Weekday'] = df['Birthdate'].dt.day_name()

# แยกประเทศ
df['Country'] = df['Address'].str.extract(r', ([A-Za-z]+)$')
df

,Fullname,Birthdate,Address,Firstname,Lastname,Weekday,Country
0,Pitch Wiratch,2015-05-15,"555 KKU Village, Khon Kaen, Thailand, 40000",Pitch,Wiratch,Friday,NaN
1,Sam Sonite,1910-03-10,"13-15 avenue de la Liberté, Luxembourg, 1931",Sam,Sonite,Thursday,NaN
2,Mickey Mouse,1928-11-18,"1375 Lake Buena Vista, FL, USA, 32830",Mickey,Mouse,Sunday,NaN
3,Felonius Gru,1960-09-28,"1234 Albuquerque, New Mexico, USA, 87777",Felonius,Gru,Wednesday,NaN

4) ให้คัดแยกอีเมลทั้งหมดจากข้อความต่อไปนี้

In [11]:
text = "In the heart of the city, Emily navigated daily chaos in her bustling office. \nEvery morning, Emily boarded a bus from redline@bus.com, finding solace in the routine. \nAmid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers, \nwhose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com. \nConversations buzzed about projects and deadlines, creating a unique camaraderie."
print(text)

In the heart of the city, Emily navigated daily chaos in her bustling office.
Every morning, Emily boarded a bus from redline@bus.com, finding solace in the routine.
Amid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers,
whose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com.
Conversations buzzed about projects and deadlines, creating a unique camaraderie.

In [16]:
# prompt: ให้คัดแยกอีเมลทั้งหมดออกจากจากข้อความต่อไปนี้

import re

# ใช้ regular expression เพื่อค้นหาอีเมล
emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)

# แสดงผลลัพธ์
print(emails)

['redline@bus.com', 'jason.patel@gmail.com', 'redpanda123@hotmail.com', 'chachacha555@kkumail.com']

In [17]:
pooh = "A day without a friend is like a pot without a single drop of honey."
print(pooh)

A day without a friend is like a pot without a single drop of honey.

5) สร้าง word tokens และ 2-gram และ 3-gram tokens จากข้อความต่อไปนี้

In [35]:
from nltk import ngrams
from nltk.tokenize import word_tokenize

# Sample text
tokens = word_tokenize(text)
text = "A day without a friend is like a pot without a single drop of honey."

# Tokenizing the text by splitting it based on spaces
word_tokens = text.split()

# Creating 2-gram and 3-gram tokens
two_grams = [tuple(word_tokens[i:i+2]) for i in range(len(word_tokens)-1)]
three_grams = [tuple(word_tokens[i:i+3]) for i in range(len(word_tokens)-2)]

# Displaying the results
print("Word Tokens:", word_tokens)
print("2-Grams:", two_grams)
print("3-Grams:", three_grams)

Word Tokens: ['A', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'single', 'drop', 'of', 'honey.']
2-Grams: [('A', 'day'), ('day', 'without'), ('without', 'a'), ('a', 'friend'), ('friend', 'is'), ('is', 'like'), ('like', 'a'), ('a', 'pot'), ('pot', 'without'), ('without', 'a'), ('a', 'single'), ('single', 'drop'), ('drop', 'of'), ('of', 'honey.')]
3-Grams: [('A', 'day', 'without'), ('day', 'without', 'a'), ('without', 'a', 'friend'), ('a', 'friend', 'is'), ('friend', 'is', 'like'), ('is', 'like', 'a'), ('like', 'a', 'pot'), ('a', 'pot', 'without'), ('pot', 'without', 'a'), ('without', 'a', 'single'), ('a', 'single', 'drop'), ('single', 'drop', 'of'), ('drop', 'of', 'honey.')]

In [36]:
bigrams = list(ngrams(tokens, 2))
bigrams

[('A', 'day'),
 ('day', 'without'),
 ('without', 'a'),
 ('a', 'friend'),
 ('friend', 'is'),
 ('is', 'like'),
 ('like', 'a'),
 ('a', 'pot'),
 ('pot', 'without'),
 ('without', 'a'),
 ('a', 'single'),
 ('single', 'drop'),
 ('drop', 'of'),
 ('of', 'honey'),
 ('honey', '.')]

In [37]:
trigrams = list(ngrams(tokens, 3))
trigrams

[('A', 'day', 'without'),
 ('day', 'without', 'a'),
 ('without', 'a', 'friend'),
 ('a', 'friend', 'is'),
 ('friend', 'is', 'like'),
 ('is', 'like', 'a'),
 ('like', 'a', 'pot'),
 ('a', 'pot', 'without'),
 ('pot', 'without', 'a'),
 ('without', 'a', 'single'),
 ('a', 'single', 'drop'),
 ('single', 'drop', 'of'),
 ('drop', 'of', 'honey'),
 ('of', 'honey', '.')]

6) ให้ทำการ stem และ lemmatize ข้อความต่อไปนี้

In [19]:
pooh = "A day without a friend is like a pot without a single drop of honey."
print(pooh)

A day without a friend is like a pot without a single drop of honey.

In [26]:
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

# ดาวน์โหลด resource ที่จำเป็น
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

# ข้อความตัวอย่าง
pooh = "A day without a friend is like a pot without a single drop of honey."

# Tokenize ข้อความ
word_tokens = nltk.word_tokenize(pooh)

# สร้าง stemmer และ lemmatizer
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

# ทำการ stemming
stemmed_words = [stemmer.stem(word) for word in word_tokens]

# ทำการ lemmatization
lemmatized_words = [lemmatizer.lemmatize(word) for word in word_tokens]

# แสดงผลลัพธ์
print("Original words:", word_tokens)
print("Stemmed words:", stemmed_words)
print("Lemmatized words:", lemmatized_words)

Original words: ['A', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'single', 'drop', 'of', 'honey', '.']
Stemmed words: ['a', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'singl', 'drop', 'of', 'honey', '.']
Lemmatized words: ['A', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'single', 'drop', 'of', 'honey', '.']

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [28]:
# ทำการ stemming
stemmed_words = [stemmer.stem(word) for word in word_tokens]
stemmed_words

['a',
 'day',
 'without',
 'a',
 'friend',
 'is',
 'like',
 'a',
 'pot',
 'without',
 'a',
 'singl',
 'drop',
 'of',
 'honey',
 '.']

In [30]:
lemmatized_words

['A',
 'day',
 'without',
 'a',
 'friend',
 'is',
 'like',
 'a',
 'pot',
 'without',
 'a',
 'single',
 'drop',
 'of',
 'honey',
 '.']